*{
    margin: 0px;
    padding: 0px;
}

#cabecera {
  	display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    /*justify-content: center;*/
    align-items: center;
}
 #cabecera h1{
	width: 90%;
    text-align: center;
    font-size: 5em;
    margin-top: 20px;
    color: rgb(228, 21, 21);
    text-shadow: 2px 2px 5px rgb(143, 136, 136);
}
@font-face{
 font-family: "charlotte";
 src: url("../fonts/charlotte_5/charlotte.ttf");
}
@media (min-width: 600px) {
 #cabecera h1{
 font-size: 5em;
 }
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header{
	width: 100%;
}

#navegacion{
	margin: 50px auto;
	
}

.menu > li{
	position: relative;
	display: inline-block;
	font-size: 15px;
	border-radius: 5px;
	background: rgb(59, 151, 59);
	list-style: none;

	
}


.menu > li > a{
	display: block;
	color: #e8f1ea;
	padding: 20px 45px;
	font-weight: 600;
	font-family: 'Arial';
	text-decoration: none;
	
}

.menu li a:hover{
	color: #141413;
	background-color: #eaeaea;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: rgb(59, 151, 59);
	width: 120%;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	list-style: none;
}

.submenu li a{
	display: block;
	padding: 20px;
	color: rgb(233, 223, 223);
	font-family: 'Arial';
	text-decoration: none;
	font-weight: 600;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
